<h1>My Posts</h1>

<% if @posts.present? %>
    <ul>
    <% @posts.each do |post| %>
        <li>
        <a href = "/posts/<%= post.id %>">

        <%= post.title %>
        <%= image_tag (post.img), style: "height:250px; ,width: 250px;"%>

        </li>
    <% end %>
    </ul>
<% else %>
    <h3> You have no posts</h3>
    <%= link_to "Create your first post" , new_post_path() %>
<%end%>
