<%= link_to "New Post", new_post_path %>


<h1>INSTAGRAM</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
    <a href = "/posts/<%= post.id %>">
      <%= post.user %>

      <%= image_tag (post.img), style: "height:250px; ,width: 250px;"%>

    </li>
  <% end %>
</ul>


